
body{
    background-image: url(https://www.desktopbackground.org/p/2012/01/09/325465_books-backgrounds-twelve_1725x1125_h.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}


#book-form{
    margin: 0 auto;
}


.container{
    text-align: center;
    font-size: 5em;
    margin-bottom: 100px;
    margin-top: 60px;
}
#table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;   
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
 
th {
    background-color: #0079a1;
    color: white;
}
#search{
    width: 250px;
    height: 36px;
} 
#table-div{
    padding: 15px;
}
.add-books{
    background-color: #0079a1;
    color: white;
    padding: 0px 12px;
    border: 1px solid #0079a1;
    border-radius: 50%;
    font-size: 1.6em;
    float: right;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px #000;
    outline: none;
}
.delete{
    cursor: pointer;
}
.edit{
    cursor: pointer;
}

dialog {
    width: 70%;
    border: 1px solid #aaa;
}

dialog::backdrop {
    background-color: rgba(180, 180, 180, 0.4);
}

#cancel{
    padding: 3px 8px;
    border-radius: 50%;
    background: #0079a1;
    color: white;
    border: 1px solid #0079a1;
    font-weight: bold;
    font-size: 0.8em;
    position: absolute;
    top: 10px;
    right: 14px;
}